<section id="siteAbout">
	<h1 class="siteAbout_mainSkills mainttl hhttl">Principais Atributos</h1>
	<p>Desenvolvedor HTML, CSS e Javascript. Boas práticas web, UX, SEO, sites responsivos, otimização para web e usabilidade.</p>
	<p>Experiência em desenvolvimento com biblioteca jQuery, AngularJS, utilização e implementação de CMS, SASS, LESS, Compass, NodeJs, Gulp, Wordpress, Vanilla JS. </p>
	<h2 class="siteAbout_secondarySkills mainttl hhttl">Outros conhecimentos</h2>
	<p>Conhecimentos básicos em PHP (Desenvolvimento em Code Igniter e manutenção em Zend e Symfony).</p> 
	<p>Manutenção em ambiente Visual Studio, tendo trabalhado tanto com web forms quanto com MVC. </p>
</section>